<app-layout>
  <home-project
    projectId="enchantress-lair"
    projectName="Enchantress' Lair"
    server="Ragnarok"
    location="Goblet, Ward 27, Plot 24"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fermentum erat luctus nisi varius, sed rutrum urna tempus."
  />
  <home-project
    projectId="modern-seafront"
    projectName="Modern Seafront"
    server="Ragnarok"
    location="Empyreum, Ward 24, Plot 59"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet tempor leo."
  />
  <home-project
    projectId="abyss-cafe"
    projectName="Abyss Cafe"
    server="Ragnarok"
    location="Empyreum, Ward 25, Plot 35"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a dignissim arcu, non molestie mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus."
  />
</app-layout>
